<div id="app">
    <header class="header header-brand header-waterfall ui-header">
        <ul class="nav nav-list pull-left">
            <li>
                <a href="javascript:void(0)">
                    <span class="icon icon-lg">menu</span>
                </a>
            </li>
        </ul>
        <router-link class="header-logo header-affix-hide margin-left-no margin-right-no" data-offset-top="213"
           :to="{name:'menu'}" data-spy="affix" href="javascript:void(0)">Admin Home</router-link>
        <ul class="nav nav-list pull-right">
            <li class="dropdown header-nav-menu">
                <a class="btn btn-flat btn-brand waves-attach waves-effect" href="#">
                    <i class="material-icons">face</i>
                </a>
            </li>
            <li>
                <a data-toggle="menu" href="#ui_menu_profile">
                    <span class="access-hide">John Smith</span>
                    <span class="avatar avatar-sm">
                     <img alt="avatar" src="/assets/img/avatar.jpg">
                </span>
                </a>
            </li>
        </ul>
    </header>
    <nav aria-hidden="true" class="menu menu-right" id="ui_menu_profile" tabindex="-1">
        <div class="menu-scroll">
            <div class="menu-top">
                <div class="menu-top-img">
                    <img alt="landscape" src="/assets/img/landscape.jpg">
                </div>
                <div class="menu-top-info">
                    <a class="menu-top-user" href="javascript:void(0)">
                    <span class="avatar avatar-inline margin-right">
                   <img alt="avatar" src="/assets/img/avatar.jpg">
                    </span><span>Admin</span>
                    </a>
                </div>
                <div class="menu-top-info-sub">
                    <small>here nothing</small>
                </div>
            </div>
            <div class="menu-content">
                <ul class="nav">
                    <li>
                        <a class="waves-attach waves-effect" href="javascript:void(0)">
                            Profile Settings
                            <span class="menu-collapse-toggle collapsed waves-attach waves-effect"
                                  data-target="#ui_menu_profile_settings" data-toggle="collapse">
								<div class="menu-collapse-toggle-close">
									<i class="icon icon-lg">close</i>
								</div>
								<div class="menu-collapse-toggle-default">
									<i class="icon icon-lg">add</i>
								</div>
							</span>
                        </a>
                        <ul class="menu-collapse collapse" id="ui_menu_profile_settings">
                            <li>
                                <a class="waves-attach waves-effect" href="javascript:void(0)">First Item</a>
                            </li>
                            <li>
                                <a class="waves-attach waves-effect" href="javascript:void(0)">Another Item</a>
                            </li>
                            <li>
                                <a class="waves-attach waves-effect" href="javascript:void(0)">Something Else</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="waves-attach waves-effect" href="javascript:void(0)">Upload Photo</a>
                    </li>
                    <li>
                        <a class="waves-attach waves-effect" href="/admin/auth/signout">signout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="ui-admin-content">
        <router-view></router-view>
    </main>
    <footer class="footer ui-footer">
        <div class="container">
            <p>Material</p>
        </div>
    </footer>
</div>

<script type="text/x-template" id="menu-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-main">
                        <div class="card-inner">
                            <p class="card-heading text-brand">文章</p>
                            <router-link :to="{name: 'article_list'}"
                               class="btn btn-brand waves-attach waves-effect">
                                <i class="material-icons">list</i><br>
                                <span>文章列表</span>
                            </router-link>
                            <router-link :to="{name: 'article_edit'}"
                               class="btn btn-brand waves-attach waves-effect">
                                <i class="material-icons">create</i><br>
                                <span>撰写文章</span>
                            </router-link>
                            <a class="btn btn-brand waves-attach waves-effect">
                                <i class="material-icons">drafts</i><br>
                                <span>草稿箱</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!---row-->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-main">
                        <div class="card-inner">
                            <p class="card-heading text-brand">应用与作品</p>
                            <a class="btn btn-brand waves-attach waves-effect">
                                <i class="material-icons">palette</i><br>
                                <span>HelloUSTB</span>
                            </a>
                            <a class="btn btn-brand waves-attach waves-effect">
                                <i class="material-icons">palette</i><br>
                                <span>Match</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!---row-->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-main">
                        <div class="card-inner">
                            <p class="card-heading text-brand">设置</p>
                            <router-link :to="{name: 'settings_category'}" class="btn btn-brand waves-attach waves-effect">
                                <i class="material-icons">class</i><br>
                                <span>栏目分类</span>
                            </router-link>
                            <a class="btn btn-brand waves-attach waves-effect">
                                <i class="material-icons">palette</i><br>
                                <span>系统设置</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!---row-->
    </div>
</script>

<script type="text/x-template" id="article-list">
    <div> Hello</div>
</script>

<script type="text/x-template" id="article-edit">
    <div class="article-edit-container">
        <div aria-hidden="true" class="modal modal-va-middle fade" id="upload_image_modal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-xs">
                <div class="modal-content">
                    <div class="modal-heading">
                        <p class="modal-title">上传图片</p>
                    </div>
                    <div class="modal-inner upload-image-field">
                        <input @change="onUploadImageSelected" style="display: none" id="upload_image_input"
                               type="file" name="file" multiple accept="image/*"/>
                        <div v-for="(image,index) in images" class="upload-image-preview">
                            <div class="image-item">
                                <img :src="image.src"/>
                                <a v-if="image.status == -1" class="image-status" @click="uploadImageToServer(index)" href="javascript:void(0)">重试</a>
                                <a v-if="image.status == 0" class="image-status" href="javascript:void(0)">等待上传</a>
                                <a v-if="image.status == 1" class="image-status" href="javascript:void(0)">正在上传</a>
                                <a v-if="image.status == 2" class="image-status" @click="deleteUploadImage(index)" href="javascript:void(0)">删除</a>
                            </div>
                        </div>
                        <a class="add-image waves-effect waves-attach waves-circle fbtn fbtn-lg" @click="addUploadImage">
                            <i class="icon">add</i></a>
                    </div>
                    <div class="modal-footer">
                        <p class="text-right">
                            <a class="btn btn-flat btn-brand-accent waves-attach waves-effect" data-dismiss="modal">取消</a>
                            <a class="btn btn-flat btn-brand-accent waves-attach waves-effect" data-dismiss="modal">完成</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="tab-nav tab-nav-green margin-top-no">
                        <ul class="nav nav-justified">
                            <li class="active">
                                <a class="waves-attach waves-effect" data-toggle="tab" href="#article_edit_area">编辑</a>
                            </li>
                            <li>
                                <a class="waves-attach waves-effect" data-toggle="tab" href="#article_edit_preview">预览</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-12">
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="article_edit_area">
                            <div class="form-group form-group-label" style="margin-bottom: 24px">
                                <label class="floating-label" for="article_edit_title">标题</label>
                                <input v-model="article_title" class="form-control" id="article_edit_title" type="text">
                            </div>
                            <div class="form-group form-group-label" style="margin-bottom: 24px">
                                <label for="article_edit_category">分类</label>
                                <select v-model="field_category_id" id="article_edit_category" type="text">
                                    <option value="0">请选择主分类</option>
                                    <option v-for="category in categories" :value="category.id">{{category.name}}</option>
                                </select>
                                <select v-model="field_sub_category_id" id="article_edit_sun_category" type="text">
                                    <option value="0">请选择子分类</option>
                                    <option v-for="category in sub_category_set" :value="category.id">{{category.name}}</option>
                                </select>
                            </div>
                            <div class="form-group form-group-label">
                                <label class="floating-label" for="article_edit_content">编辑</label>
                                <textarea v-model="article_content" class="form-control" id="article_edit_content" rows="12"></textarea>
                            </div>
                            <div class="article-edit-footer">
                                <ul class="nav nav-list margin-no pull-left">
                                    <li><a class="btn btn-flat waves-effect" data-toggle="modal"
                                           data-target="#upload_image_modal" title="上传图片" href="#">
                                        <span class="icon">image</span></a>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle text-black waves-attach waves-effect"
                                           data-toggle="dropdown"><span class="icon">more_vert</span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="waves-attach waves-effect" >
                                                    <span class="icon margin-right-sm">drafts</span>&nbsp;存为草稿</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="pull-right">
                                    <a @click="submit" class="btn btn-flat btn-brand waves-attach waves-effect">提交</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="article_edit_preview">
                            <div class="markdown-preview" v-html="compiledMarkdown"></div>
                        </div>
                    </div>
                </div> <!---/col-md-12--->
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="settings-category">
    <div class="settings-category-container">
        <div aria-hidden="true" class="modal modal-va-middle fade" id="category-edit-modal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-xs">
                <div class="modal-content">
                    <div class="modal-heading">
                        <p class="modal-title">添加分类</p>
                    </div>
                    <div class="modal-inner">
                        <div class="form-group form-group-label">
                            <label class="floating-label" for="category_edit_name">名称</label>
                            <input v-model="new_category_name" class="form-control" id="category_edit_name" type="text">
                        </div>
                        <div class="form-group form-group-label">
                            <label class="floating-label" for="category_edit_slug">内链</label>
                            <input v-model="new_category_slug" class="form-control" id="category_edit_slug" type="text">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <p class="text-right">
                            <a class="btn btn-flat btn-brand-accent waves-attach waves-effect" data-dismiss="modal">取消</a>
                            <a @click="addCategory" :disabled="new_category_submitting" v-text="new_category_submitting?'正在提交':'提交'"
                               class="btn btn-flat btn-brand-accent waves-attach waves-effect"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div aria-hidden="true" class="modal modal-va-middle fade" id="sub-category-edit-modal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-xs">
                <div class="modal-content">
                    <div class="modal-heading">
                        <p class="modal-title">添加子分类</p>
                    </div>
                    <div class="modal-inner">
                        <div class="form-group form-group-label">
                            <label class="floating-label" for="sub_category_name">名称</label>
                            <input v-model="new_sub_category_name" class="form-control" id="sub_category_name" type="text">
                        </div>
                        <div class="form-group form-group-label">
                            <label class="floating-label" for="sub_category_slug">内链</label>
                            <input v-model="new_sub_category_slug" class="form-control" id="sub_category_slug" type="text">
                        </div>
                        <div class="form-group form-group-label">
                            <label  for="category-select">父级分类</label>
                            <select v-model="new_sub_category_type" id="category-select">
                                <option v-for="(category,index) in categories" :value="index">
                                    {{category.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <p class="text-right">
                            <a class="btn btn-flat btn-brand-accent waves-attach waves-effect" data-dismiss="modal">取消</a>
                            <a :disabled="new_sub_category_submitting" v-text="new_sub_category_submitting?'正在提交':'提交'"
                               @click="addSubCategory" class="btn btn-flat btn-brand-accent waves-attach waves-effect"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <ul class="row breadcrumb" style="margin-bottom: 0">
                <li><router-link :to="{name:'menu'}">首页</router-link></li>
                <li class="active"><a href="javascript:void(0)">设置</a></li>
                <li class="active"><a href="javascript:void(0)">栏目分类</a></li>
            </ul>
            <div class="row">
                <div class="col-md-12 ">
                    <div class="card">
                        <div class="card-main">
                            <div class="card-inner margin-bottom-no">
                                <p class="card-heading">栏目分类
                                    <a  data-toggle="modal" data-target="#category-edit-modal" class="btn btn-flat btn-brand-accent waves-attach waves-effect">
                                        <i class="icon">add</i>添加分类</a>
                                </p>
                                <div class="settings-category-add">
                                    <a data-toggle="modal" data-target="#sub-category-edit-modal" class="fbtn fbtn-red waves-circle waves-light waves-effect">
                                        <i class="icon">add</i></a>
                                </div>
                                <div class="card-table">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>父目录</th>
                                                <th>父slug</th>
                                                <th>名称</th>
                                                <th>slug</th>
                                                <th>包含帖子数量</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <template v-for="(category,index) in categories">
                                                <tr class="settings-category-ink-tr">
                                                    <td><b>{{category.name}}</b></td>
                                                    <td><b>{{category.slug}}</b></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><a href="javascript:void(0)">删除父级分类</a></td>
                                                </tr>
                                                <tr v-for="sub in category.sub_category">
                                                    <td></td>
                                                    <td></td>
                                                    <td>{{sub.name}}</td>
                                                    <td>{{sub.slug}}</td>
                                                    <td>{{sub.posts_count}}</td>
                                                    <td><a href="javascript:void(0)">删除分类</a></td>
                                                </tr>
                                            </template>
                                            </tbody>
                                        </table>
                                        <div class="text-center" v-if="categories.length==0">正在加载...</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <div class="card-action-btn pull-right">
                                    <a class="btn btn-flat waves-attach waves-effect" href="javascript:void(0)"><span
                                            class="icon">chevron_left</span></a>
                                    <a class="btn btn-flat waves-attach waves-effect" href="javascript:void(0)"><span
                                            class="icon">chevron_right</span></a>
                                </div>
                            </div>
                        </div>
                    </div><!---/card-->
                </div><!--/col-md-12-->
            </div>
        </div>
    </div>
</script>

