<script type="text/x-template" id="app_template">
    <header class="header header-transparent header-waterfall ui-header">
        <ul class="nav nav-list pull-left">
            <li>
                <a data-toggle="menu" href="#ui_menu">
                    <span class="icon icon-lg">menu</span>
                </a>
            </li>
        </ul>
        <a class="header-logo header-affix-hide margin-left-no margin-right-no" data-offset-top="213"
           data-spy="affix" v-link="{ name: 'home'}">Material</a>
        <ul class="nav nav-list pull-right">
            <li class="dropdown margin-right">
                <a class="dropdown-toggle text-black waves-attach waves-effect"
                   data-toggle="dropdown" aria-expanded="false">
                    <span>Sample Pages</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a class="padding-right-lg waves-attach waves-effect" href="javascript:void(0)">
                            <span class="icon icon-lg margin-right waves-effect">account_box</span>Profile Settings</a>
                    </li>
                    <li>
                        <a class="padding-right-lg waves-attach waves-effect" href="javascript:void(0)">
                            <span class="icon icon-lg margin-right">add_to_photos</span>Upload Photo</a>
                    </li>
                    <li>
                        <a class="padding-right-lg waves-attach waves-effect" href="page-login.html">
                            <span class="icon icon-lg margin-right">exit_to_app</span>Logout</a>
                    </li>
                </ul>
            </li>
            <li>
                <a data-toggle="menu" href="#ui_menu_profile">
                    <span class="access-hide">John Smith</span>
                    <span class="avatar avatar-sm">
                     <img :alt="settings.profile.name" :src="settings.profile.avatar">
                </span>
                </a>
            </li>
        </ul>
    </header>
    <nav aria-hidden="true" tabindex="-1" class="menu " id="ui_menu">
        <div class="menu-scroll">
            <div class="menu-content">
                <a class="menu-logo"  v-link="{ name: 'home'}">Material</a>
                <ul class="nav">
                    <li class="nav-search-box">
                        <div class="form-group form-group-label">
                            <label class="floating-label" for="search">search</label>
                            <input class="form-control" id="search" type="text">
                        </div>
                    </li>
                    <li>
                        <a class="collapsed waves-attach waves-effect" data-toggle="collapse" href="#ui_menu_samples">Sample
                            Pages</a>
                        <ul class="menu-collapse collapse" id="ui_menu_samples">
                            <li>
                                <a class="waves-attach waves-effect" href="page-login.html">Login Page</a>
                            </li>
                            <li>
                                <a class="waves-attach waves-effect" href="page-picker.html">Picker Page</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav aria-hidden="true" class="menu menu-right" id="ui_menu_profile" tabindex="-1">
        <div class="menu-scroll">
            <div class="menu-top">
                <div class="menu-top-img">
                    <img alt="landscape" src="/assets/img/landscape.jpg">
                </div>
                <div class="menu-top-info">
                    <a class="menu-top-user" href="javascript:void(0)">
                    <span class="avatar avatar-inline margin-right">
                    <img :alt="settings.profile.name" :src="settings.profile.avatar">
                    </span><span>{{settings.profile.name}}</span>
                    </a>
                </div>
                <div class="menu-top-info-sub">
                    <small>{{settings.profile.bio}}</small>
                </div>
            </div>
            <div class="menu-content">
                <ul class="nav">
                    <li>
                        <a class="waves-attach waves-effect" href="javascript:void(0)">
                            Profile Settings
                            <span class="menu-collapse-toggle collapsed waves-attach waves-effect"
                                  data-target="#ui_menu_profile_settings" data-toggle="collapse">
								<div class="menu-collapse-toggle-close">
									<i class="icon icon-lg">close</i>
								</div>
								<div class="menu-collapse-toggle-default">
									<i class="icon icon-lg">add</i>
								</div>
							</span>
                        </a>
                        <ul class="menu-collapse collapse" id="ui_menu_profile_settings">
                            <li>
                                <a class="waves-attach waves-effect" href="javascript:void(0)">First Item</a>
                            </li>
                            <li>
                                <a class="waves-attach waves-effect" href="javascript:void(0)">Another Item</a>
                            </li>
                            <li>
                                <a class="waves-attach waves-effect" href="javascript:void(0)">Something Else</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="waves-attach waves-effect" href="javascript:void(0)">Upload Photo</a>
                    </li>
                    <li>
                        <a class="waves-attach waves-effect" href="page-login.html">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div aria-hidden="true" class="modal modal-va-middle fade" id="auth_model" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <div class="modal-heading">
                    <h2 class="modal-title">登录认证后才能添加评论</h2>
                </div>
                <ul class="nav">
                    <li>
                        <a @click="openGithub" href="javascript:void(0)" class="margin-bottom-sm waves-attach waves-effect">
                            <svg aria-hidden="true" class="octicon octicon-mark-github" height="24" version="1.1"
                                 viewBox="0 0 16 16" width="24">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                            </svg>
                            <span class="margin-right-sm text-black">&emsp;Github登录</span>
                        </a>
                    </li>
                </ul>
                <div class="modal-footer">
                    <p class="text-right">
                        <a class="btn btn-flat btn-brand-accent waves-attach waves-effect" data-dismiss="modal">取消</a>
                    </p>
                </div>
            </div>
        </div>
    </div><!--model-->

    <main id="app" class="ui-main-content">
        <router-view></router-view>
    </main>
    <footer class="ui-footer footer">
        <div class="container">
            <p>Material</p>
        </div>
    </footer>
    <div class="fbtn-container">
        <div class="fbtn-inner">
            <a class="fbtn fbtn-lg fbtn-brand-accent waves-attach waves-effect waves-circle waves-light"
               data-toggle="dropdown"><span
                    class="fbtn-text fbtn-text-left">Links</span><span class="fbtn-ori icon">apps</span><span
                    class="fbtn-sub icon">close</span></a>
            <div class="fbtn-dropup">
                <a class="fbtn waves-attach waves-effect waves-circle" href="https://github.com/Daemonite/material"
                   target="_blank"><span
                        class="fbtn-text fbtn-text-left">Fork me on GitHub</span><span class="icon">code</span></a>
                <a class="fbtn fbtn-brand waves-attach waves-effect waves-circle waves-light"
                   href="https://twitter.com/daemonites"
                   target="_blank"><span class="fbtn-text fbtn-text-left">Follow Daemon on Twitter</span><span
                        class="icon">share</span></a>
                <a class="fbtn fbtn-green waves-attach waves-effect waves-circle" href="http://www.daemon.com.au/"
                   target="_blank"><span
                        class="fbtn-text fbtn-text-left">Visit Daemon Website</span><span class="icon">link</span></a>
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="list-template">
    <div class="container">
        <div class="row">
            <div v-for="blog in lists" class="col-md-12">
                <div class="card">
                    <div class="card-main">
                        <div class="card-header">
                            <div class="card-header-side pull-left">
                                <span>{{blog.create_at | formatTime}}</span>
                            </div>
                            <div class="card-inner">
                                <a v-link="{name:'detail',params:{id:blog.id}}" class="card-heading">{{blog.title}}</a>
                            </div>
                        </div>
                        <div class="card-img">
                            <img alt="alt text" :src="blog.cover" style="width: 100%;">
                            <!--<p class="card-img-heading"></p>-->
                        </div>
                        <div class="card-inner">
                            <p>{{blog.summary}}</p>
                        </div>
                        <div class="card-action">
                            <div class="card-action-btn pull-left">
                                <a v-link="{name:'detail',params:{id:blog.id}}" class="btn btn-flat waves-effect waves-attach"
                                   href="javascript:void(0)">
                                    <span class="icon">more_vert</span>&nbsp;Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/x-template" id="detail-template">
    <div class="content-header ui-content-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1">
                    <h1 class="content-heading">{{article.title}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="blog-detail-mate">
             <span class="avatar inline-avatar">
                <a :href="settings.profile.url" target="_blank">
                    <img :src="settings.profile.avatar">
                </a>
            </span>
            <span class="refer-me">
                By <a :href="settings.profile.url" target="_blank">{{settings.profile.name}}</a>&nbsp;·&nbsp;</span>
            <span class="label label-brand" title="2015-12-23">{{article.created_at | formatTime}}</span>
        </div>
        <article class="row blog-article markdown-preview">
            <div class="col-md-12" v-html="article.content | marked"></div>
        </article>
        <div class="row comment-area">
            <p class="col-md-12"><b>12条评论</b></p>
            <div class="col-md-12 form-group form-group-label comment-form">
                <label class="floating-label" for="comment-input" style="left:auto;">你的评论</label>
                <textarea @focus="checkAuth" v-model="comment_text" class="form-control" id="comment-input" rows="4" style="resize: none"></textarea>
                <div class="help-block pull-left"><code>支持Markdown输入</code></div>
                <div class="pull-right">
                    <a title="预览" class="btn btn-flat btn-brand waves-attach waves-effect"><i class="material-icons">visibility</i></a>
                    <a @click="submitComment" class="btn btn-brand  waves-attach waves-effect">发布</a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div style="height:8px"></div>
            <div v-for="(comment_index,comment) in comments" :class="{'comments-border':comment_index != 0}"
                 class="col-md-12 comment-item">
                <div class="comment-mate">
                     <span class="avatar inline-avatar">
                        <a :href="comment.user.url" target="_blank">
                            <img alt="..." :src="comment.user.avatar">
                        </a>
                    </span>
                    <span class="user-refer">
                        &nbsp;<a :href="comment.user.url" target="_blank">{{comment.user.name}}</a>&nbsp;
                    </span>
                    <span class="label label-brand" title="2015-12-23">{{comment.date}}</span>
                    <a @click="toggleReplyBox(comment_index,-1)" href="javascript:void(0)"
                       class="pull-right reply-refer">
                        <i class="material-icons">reply</i><span>回复</span>
                    </a>
                </div>
                <div class="comment-content">
                    {{comment.content}}
                </div>
                <div class="reply-area row">
                    <div v-for="reply in comment.replies" class="clo-md-12 reply-item">
                        <div class="comment-mate">
                             <span class="avatar inline-avatar">
                                <a :href="reply.user.url" target="_blank">
                                    <img alt="..." :src="reply.user.avatar">
                                </a>
                            </span>
                            <span class="user-refer">
                                &nbsp;<a :href="reply.user.url" target="_blank">{{reply.user.name}}</a>&nbsp;
                            </span>
                            <span class="label label-brand" title="2015-12-23">{{reply.date}}</span>
                            <a @click="toggleReplyBox(comment_index,$index)" href="javascript:void(0)"
                               class="pull-right reply-refer">
                                <i class="material-icons">reply</i><span>回复</span>
                            </a>
                        </div>
                        <div class="reply-content">
                            {{reply.content}}
                        </div>
                    </div>
                    <div v-show="comment.show_reply_box" class="form-group form-group-label reply-box-form">
                        <label class="floating-label" :for="'reply-box-'+comment_index">回复</label>
                        <textarea v-model="comment.new_reply_content" class="form-control"
                                  :id="'reply-box-'+comment_index" rows="3"></textarea>
                        <div class="pull-right">
                            <a @click="cancelReply(comment_index)" title="取消"
                               class="btn btn-flat btn-brand waves-attach waves-effect">
                                <i class="material-icons">clear</i>
                            </a>
                            <a @click="submitReply(comment_index)"
                               class="btn btn-brand waves-attach waves-effect">回复</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>