.page-brand .ui-header {
    background-color: #3f51b5
}

.nav-search-box {
    margin: 0 16px;
}

.nav-search-box .form-group {
    margin-top: 8px;
    margin-bottom: 6px
}

.ui-main-content {
    margin-top: 55px;
    margin-bottom: 92px;
}

.ui-footer {
    border-top: 1px solid rgba(0, 0, 0, .12);
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

/*markdown style */
.markdown-preview code{
    border:none;
}
.markdown-preview h1, .markdown-preview h2,.markdown-preview h3,.markdown-preview h4,.markdown-preview h5,.markdown-preview h6{
    margin-top: 12px;
}

.markdown-preview img {
    max-width: 100%;
    overflow-x: scroll;
}

.blog-detail-mate {
    margin-top: 16px;
}
.blog-article:after, .blog-detail-mate:after{
    margin-top: 16px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.12);
    box-sizing: content-box;
    display: block;
    height: 0;
}
.inline-avatar{
    display:inline-block;
}
.blog-detail-mate .refer-me {
    font-family: Georgia, "Times New Roman", Times, serif;
}
.blog-article{
    margin-top:2em;
}

.comment-area .comment-form{
    margin-top: 20px;
    margin-bottom: 6px
}

.comment-item{
    padding-top:6px;
    padding-bottom:6px;
}

.comment-item.comments-border{
    border-top: 1px solid rgba(0,0,0,0.12);
}
.comment-mate .user-refer{
    font-family: Georgia, "Times New Roman", Times, serif;
}
.comment-content{
    padding-left: 40px;
}

.reply-area{
    padding-left: 56px; /*40+16 */
    padding-right: 10px;  /*10 + 6 = 16*/
}
.reply-area .reply-item{
    padding: 4px 6px 4px 6px;/*10 + 6(2nd) = 16*/
    border:solid transparent 1px;
}
.reply-area .reply-item:hover{
    border:dashed rgba(0,0,0,0.12) 1px;
}
.reply-refer span{
    vertical-align: super;
}
.reply-area .reply-content{
     padding-left: 40px;
 }

.reply-box-form{
    margin-top: 20px;
    margin-bottom: 6px
}
.reply-box-form textarea{
    resize: none;
}

/*vue css*/

/*
    based on Paraíso (light)
    Created by Jan T. Sott (http://github.com/idleberg)
    Inspired by the art of Rubens LP (http://www.rubenslp.com.br)
*/
/* Paraíso Comment */
.hljs-comment,
.hljs-quote {
    color: #776e71;
}

/* Paraíso Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-link,
.hljs-meta {
    color: #ef6155;
}

/* Paraíso Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-deletion {
    color: #f99b15;
}

/* Paraíso Yellow */
.hljs-title,
.hljs-section,
.hljs-attribute {
    color: #fec418;
}

.hljs-string{
    color:#ff4081;
}
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
    color: #48b685;
}

/* Paraíso Purple */
.hljs-keyword{
    color: #4CAF50;
    font-weight: 600;
}
.hljs-selector-tag {
    color: #F44336;
}

.hljs {
    display: block;
    overflow-x: auto;
    background: #e7e9db;
    color: #4f424c;
    padding: 0.5em;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}