<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"/>
    <meta name="theme-color" content="#009688">
    <title>gensh.me Blog</title>
    <link href="//cdn.bootcss.com/material-design-icons/2.2.3/iconfont/material-icons.css" rel="stylesheet" media="none" onload="if(media!='all')media='all'">
    <link href="/assets/dist/css/base.min.css" rel="stylesheet" media="none" onload="if(media!='all')media='all'">
    <link href="/assets/css/main.css" rel="stylesheet" media="none" onload="if(media!='all')media='all'">
    <style>
        body{font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;}
        .label-brand{background-color:#3f51b5;color: #fff;}
        .label {border-radius: 2px;display: inline;font-size:75%;font-style:normal;font-weight:400;line-height:1;padding: 0.2em 0.6em;vertical-align:baseline;white-space: nowrap;}
        .progress {  background-color: #ff80ab;  height: 4px;margin-top: 24px;margin-bottom:24px;overflow:hidden;position:relative;}
        .load-bar:first-child {float: left;}
        .load-bar{float: right;height: 100%;overflow:hidden;width: 50%;}
        .load-bar:first-child .load-bar-base{animation:load-bar-left-in 0.9s cubic-bezier(0.4, 0, 0.2, 1) 1 forwards;transform:translate(100%,0);transform-origin:top left;}
        .load-bar-base{animation:load-bar-right-in 0.9s cubic-bezier(0.4, 0, 0.2, 1) 1 forwards;background-color:#ff4081;float:left;height:100%;overflow:hidden;transform:translate(-100%,0);transform-origin:top right;width:100%;will-change:transform;}
        .load-bar:first-child .load-bar-content{animation: load-bar-left 3.6s linear infinite forwards; animation-delay: 0.9s;}
        .load-bar-content {animation: load-bar-right 3.6s linear infinite forwards;animation-delay: 0.9s;float: left;height:100%;position: relative; transform-origin: top center;width: 400%;will-change: transform;}
        .load-bar-progress{background-color:transparent;float:left;height: 100%;width: 25%;}.load-bar-progress-brand{background-color: #3f51b5;}.load-bar-progress-green{background-color: #4caf50;}.load-bar-progress-orange{background-color: #ff9800;}
        @keyframes load-bar-left{0%{transform:translate(0, 0)}100%{transform:translate(-100%, 0)}}
        @keyframes load-bar-right{0%{transform:translate(-100%, 0)}100%{transform:translate(0, 0)}}
        @keyframes load-bar-left-in{0%{transform:translate(100%, 0)}100%{transform:translate(0, 0)}}
        @keyframes load-bar-right-in{0%{transform:translate(-100%, 0)}100%{transform:translate(0, 0)}}
    </style>
</head>
<body class="page-brand">
<div class="progress">
    <div class="load-bar">
        <div class="load-bar-base">
            <div class="load-bar-content">
                <div class="load-bar-progress"></div>
                <div class="load-bar-progress load-bar-progress-brand"></div>
                <div class="load-bar-progress load-bar-progress-green"></div>
                <div class="load-bar-progress load-bar-progress-orange"></div>
            </div>
        </div>
    </div>
    <div class="load-bar">
        <div class="load-bar-base">
            <div class="load-bar-content">
                <div class="load-bar-progress"></div>
                <div class="load-bar-progress load-bar-progress-orange"></div>
                <div class="load-bar-progress load-bar-progress-green"></div>
                <div class="load-bar-progress load-bar-progress-brand"></div>
            </div>
        </div>
    </div>
</div>
<div style="text-align:center">
    <span class="label label-brand">Loading&hellip;</span>
</div>
<template></template> <!--app_container--->
<template id="template-container"></template>
<!-- jQuery -->
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="/assets/dist/js/base.min.js"></script>
<script src="/assets/dist/js/vue.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue-router/0.7.13/vue-router.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
<script src="/assets/js/main.js"></script>
<script type="text/javascript">
    init();
</script>
</body>
</html>
